.misTurnosContainer h1 {
    font-size: 40px;
    color: rgb(12, 116, 206);
    letter-spacing: 1px;
    text-align: center;
    margin: 40px;
}

.turnosText{
    
    margin: 0 400px 0 400px;
    
    color: black;
    font-size: 22px;
    
    line-height: 1.8;
    letter-spacing: 1px;
}

.turnosTextDos{
    font-size: 40px;
    color: white;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #2677da;
}

.turnosList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.turnoCard {
    background-color: #034076;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 30%;
    text-align: left;
    margin: 50px;
    
}

.turnoCard p {
    padding: 5px;
    font-size: 22px;
    color: white;
    letter-spacing: 1px;
}

.turnoCard button {
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2677da;
}