.formContainerFather{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.formContainerFather h1{
    color:rgb(12, 116, 206);
    margin: 40px;
    font-size: 40px;

}


.formContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #034076;
    color: white;
    width: 1200px;
    height: 900px;
}


.formContainer h2{
    color: white;
    text-align: center;
    font-size: 35px;
}

.formContainer h3{
    text-align: center;
    margin: 45px 45px 45px 90px;
}

form {
    
    border-left: 1px solid #575555;
    margin: 15px;
    font-size: 35px;
    
}

.formDiv{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 180px;
    gap: 15px;
    font-size: 20px;
    margin: 50px ;
}

.formDiv button{
    width: 240px;
    font-size: 20px;
    padding: 5px;
    
}

.formDiv input{
    padding: 20px;
    font-size: 20px;

}

.formDiv label{
    font-size: 25px;
}


.formButtonFather{
    display: flex;
    justify-content: center;
    
}

.formButton{
    margin: 0 10px 20px 70px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    font-size: 25px;
    
} 



.errorMessage {
    color: rgb(255, 255, 255);
    /* Cambia a cualquier color que prefieras */
    font-size: 14px;
    /* Tamaño de la letra opcional */
    margin-top: 4px;
}




/* .formContainer{
    display: flex;
    justify-content: center;
}



.formContainer form{
    
    width: 500px;
    border-radius: 10px;
    background-color: #978f8f;
}

.formContainer form h1{
    text-align: center;
    margin: 20px;
}

.formDiv{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
    font-size: 20px;

}


.formDiv p{
    color: rgb(189, 5, 5);
}
.formDiv label{
    text-align: center;
}

.formDiv input{
    border-radius: 4px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.formButtonFather{
    display: flex;
    justify-content: center;
}

.formButton{
    margin: 20px;
    width: 150px;
    height: 40px;
    border-radius: 4px;
    
} */